{% extends "base.html" %}
{% load static %}
{% block title %}My Journal{% endblock %}

{% block content %}
{% import re %}

 <h1>Journal Entries</h1>
  <br>
  <table class="table-striped" cellpadding="10">
    {% if journal %}
        <tr>
            <th>Message</th>
            <th>Date and Time</th>
            <th>Emotions</th>
        </tr>
        {% for j in journal %}
        <tr>
            <td > {{ j.entry }} </td>
            <td > {{ j.date_created }} </td>
            <td > {% if float(re.findall(r'\d.+', j.emotion_anger)[0]) > 0.1 %}Anger: {{ j.emotion_anger }}{% endif %}, 
                  {% if float(re.findall(r'\d.+', j.emotion_disgust)[0]) > 0.1 %}Disgust: {{ j.emotion_disgust }}{% endif %}, 
                  {% if float(re.findall(r'\d.+', j.emotion_sadness)[0]) > 0.1 %}Sadness: {{ j.emotion_sadness }}{% endif %}, 
                  {% if float(re.findall(r'\d.+', j.emotion_fear)[0]) > 0.1 %}Fear: {{ j.emotion_fear }}{% endif %}, 
                  {% if float(re.findall(r'\d.+', j.emotion_joy)[0]) > 0.1 %}Joy: {{ j.emotion_joy }}{% endif %} </td>
        </tr>
        {% endfor %}
    {% endif %}
  </table>
  <br>
  <h1>Contexts</h1>
  <br>
  <table class="table-striped" cellpadding="10">
    {% if contexts %}
        <tr>
            <th>Context</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        {% for c in contexts %}
        <tr>
            <td > {{ c.context }} </td>
            <td > {{ c.start_date }} </td>
            <td > {{ c.end_date }} </td>
        </tr>
        {% endfor %}
    {% endif %}
  </table>

{% endblock %}
{% endblock content %}
