{% extends "base.html" %}
{% load static %}
{% block title %}Raw Messages View{% endblock %}

{% block content %}

 <h1>Journal Entries</h1>
  <br>
  <table class="table-striped">
    {% if journal %}
        <tr>
            <th>Message</th>
            <th>Date and Time</th>
            <th>Emotions</th>
        </tr>
        {% for j in journal %}
        <tr>
            <td > {{ j.entry }} </td>
            <td > {{ j.date_created }} </td>
            <td > Anger: {{ j.emotion_anger }}, Disgust: {{ j.emotion_disgust }}, Sadness: {{ j.emotion_sadness }}, Fear: {{ j.emotion_fear }}, Joy: {{ j.emotion_joy }} </td>
        </tr>
        {% endfor %}
    {% endif %}
  </table>
  <br>
  <h1>Contexts</h1>
  <br>
  <table class="table-striped">
    {% if contexts %}
        <tr>
            <th>Context</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        {% for c in contexts %}
        <tr>
            <td > {{ c.context }} </td>
            <td > {{ c.start_date }} </td>
            <td > {{ c.end_date }} </td>
        </tr>
        {% endfor %}
    {% endif %}
  </table>

{% endblock content %}