{% extends "base.html" %}
{% load static %}
{% block title %}Raw Messages View{% endblock %}

{% block content %}

<h1>All Messages</h1>
  <br>
  <table class="table-striped" cellpadding="10">
    {% if mes %}
        <tr>
            <th>Type</th>
            <th>Date and Time</th>
            <th>Message</th>
        </tr>
        {% for key, value in mes.items %}
        <tr>
            <td > {{ value.type }} </td>
            <td > {{ value.date }} </td>
            <td > {{ value.text }} </td>
        </tr>
        {% endfor %}
    {% endif %}
  </table>
  <br>

{% endblock content %}