{% extends "base.html" %}
{% load static %}
{% block title %}Raw Messages View{% endblock %}

{% block content %}

<h1>All Messages</h1>
  <br>
  <table class="table-striped" cellpadding="10">
    {% if messages %}
        <tr>
            <th>Phone Number</th>
            <th>Date and Time</th>
            <th>Message</th>
        </tr>
        {% for s in messages %}
        <tr>
            <td > {{ s.phone }} </td>
            <td > {{ s.date_created }} </td>
            <td > {{ s.message }} </td>
        </tr>
        {% endfor %}
    {% endif %}
  </table>
  <br>

{% endblock content %}