{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}My Reminders{% endblock %}

{% block content %}

    <div class='jumbotron'>
        <h3>Add New Reminder</h3>
        <form class="form-horizontal" method="post" action="{% url 'users:reminders' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-outline-success">Create Reminder</button>
            </div>
            </div>
        </form>
    </div>
    {% if reminders %}
    <h3> Reminders </h3>
      <table class="table-striped" cellpadding="10">
        <tr>
            <th>Date and Time</th>
            <th>Text</th>
        </tr>
        {% for r in reminders %}
            <tr>
                <td> {{ r.when }} </td>
                <td> {{ r.text }} </td>
            </tr>
        {% endfor %}
      </table>
    {% endif %}

    <script>
    $( function() {
        $( "#datepicker" ).datepicker();
    } );
    </script>

{% endblock content %}
