{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h1>Send Text Message</h1>
  <form class="form-horizontal" method="post" action="{% url 'users:send' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Send</button>
      </div>
    </div>
  </form>
  <br>

  <h1>Sent Messages (manually or automated)</h1>
  <br>
  <table class="table-striped">
    {% if sentMessages %}
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Date and Time</th>
            <th>Message</th>
        </tr>
        {% for s in sentMessages %}
        <tr>
            <td > {{ s.recipient.name }} </td>
            <td > {{ s.phone }} </td>
            <td > {{ s.date_created }} </td>
            <td > {{ s.message }} </td>
        </tr>
        {% endfor %}
    {% endif %}
  </table>
  <br>
  <h1>Response (Received Messages)</h1>
  <br>
  <table class="table-striped">
    {% if responses %}
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Date and Time</th>
            <th>Message</th>
        </tr>
        {% for r in responses %}
        <tr>
            <td > {{ r.sender.name }} </td>
            <td > {{ r.phone }} </td>
            <td > {{ r.date_created }} </td>
            <td > {{ r.message }} </td>
        </tr>
        {% endfor %}
    {% endif %}
  </table>
  <br>
  <h1>Journal Entries</h1>
  <br>
  <table class="table-striped">
    {% if journal %}
        <tr>
            <th>Name</th>
            <th>Message</th>
            <th>Date and Time</th>
            <th>Emotions</th>
        </tr>
        {% for j in journal %}
        <tr>
            <td > {{ j.patient.name }} </td>
            <td > {{ j.entry }} </td>
            <td > {{ j.date_created }} </td>
            <td > Anger: {{ j.emotion_anger }}, Disgust: {{ j.emotion_disgust }}, Sadness: {{ j.emotion_sadness }}, Fear: {{ j.emotion_fear }}, Joy: {{ j.emotion_joy }} </td>
        </tr>
        {% endfor %}
    {% endif %}
  </table>
  <br>
  <h1>Contexts</h1>
  <br>
  <table class="table-striped">
    {% if contexts %}
        <tr>
            <th>Name</th>
            <th>Context</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        {% for c in contexts %}
        <tr>
            <td > {{ c.patient.name }} </td>
            <td > {{ c.context }} </td>
            <td > {{ c.start_date }} </td>
            <td > {{ c.end_date }} </td>
        </tr>
        {% endfor %}
    {% endif %}
  </table>

{% endblock %}