{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h1>Send Text Message</h1>
  <form class="form-horizontal" method="post" action="{% url 'users:send' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Send</button>
      </div>
    </div>
  </form>
  <br>

  <h1>Responses</h1>
  <br>
  <table>
    {% if responses %}
        <tr>
            <th>Phone Number</th>
            <th>Date and Time</th>
            <th>Anonymous?</th>
            <th>Message</th>
        </tr>
        {% for r in responses %}
        <tr>
            <td > {{ r.phone }} </td>
            <td > {{ r.date_created }} </td>
            <td > {{ r.anonymous }} </td>
            <td > {{ r.message }} </td>
        </tr>
        {% endfor %}
    {% endif %}
  </table>

{% endblock %}